*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
  }

  body {
    display:flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 50%;
    max-width: 800px;
    margin: 10% 10%;
    padding: 10px 10px;
  }

  .form {
      margin: 0% 2%;
  }
  .resultParas{
    width:50%;
    border-radius: 2px rgb(205, 6, 212);
  }

  .gameDescription{
    margin: 2% 2%;
  }

  .guessSubmit {
    margin: 5% 2%; 
  }

  .lastResult {
    color: white;
    padding: 3px;
  }

  .button {
    background-color: aqua;
  }